
{{#if hasErrors}}
    <div class="alert alert-danger" id="errMsg">
        {{#each messages}}
            <p>{{this}}</p>
        {{/each}}
    </div>
{{/if}}

<div class="container-fluid content">
    <div class="row featurette">
		<div class="card profile" style="width: 30rem;">
			  <div class="card-header">
			    <h3 class="justify" id="adminPanel">Admin Panel</h3>
			  </div> 
			  <div class="card-block justify"> 
			  	<a href="/admin/users" class="btn btn-secondary btn-block"> 
			  	<i class="fa fa-user" aria-hidden="true"></i> Pokaż użytkowników</a>
			  </div>
			  <div class="card-block justify"> 
			  	<a href="/admin/users/priv" class="btn btn-secondary btn-block"> 
			  	<i class="fa fa-user" aria-hidden="true"></i> Ograniczenie dostepu</a>
			  </div>
			  <div class="card-block justify"> 
			  	<a href="/admin/groups" class="btn btn-secondary btn-block"> 
			  	<i class="fa fa-users" aria-hidden="true"></i> Pokaż grupy</a>
			  </div>
			  <div class="card-block justify"> 
			  	<a href="/admin/users/mailNotification" class="btn btn-secondary btn-block"> 
			  	<i class="fa fa-envelope-o" aria-hidden="true"></i> Powiadomienia e-mail</a>
			  </div>
			  <div class="card-block justify"> 
			  	<a href="/admin/users/msgNotification" class="btn btn-secondary btn-block"> 
			  	<i class="fa fa-commenting-o" aria-hidden="true"></i> Powiadomienia msg</a>
			  </div>
			  <div class="card-block justify"> 
			  	<a href="/admin/users/zmianaTajemnic" class="btn btn-secondary btn-block"> 
			  	<i class="fa fa-repeat" aria-hidden="true"></i> Zmiana tajemnic</a>
			  </div>
		</div>
    </div>
</div>

<script type="text/javascript">

$( document ).ready(function() {
	$('#errMsg').delay(5000).slideUp();

});

$("#adminPanel").dblclick(function(){
    toggleFullScreen();
});

// if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
//     // some code..
// }

</script>