<div class="bg">
    <div class="hero-text">
        <p>         </p>
    </div>

    <div class="hero-buttons">
        <button type="button" class="btn btn-primary" onclick="javascript:location.href='/admin/users/login'">Login</button>
        <button type="button" class="btn btn-danger" onclick="javascript:location.href='/admin/users/register'">Register</button>
    </div>
</div>
