{{#if hasErrors}}
    <div class="alert alert-danger content" id="errMsg">
        {{#each messages}}
            <p>{{this}}</p>
        {{/each}}
    </div>
{{/if}}


  <div class="card profile" style="max-width: 30rem;" >
    <div class="card-block">
      <h4 class="card-title text-center"> <strong>Powiadomienia e-mail</strong> </h4>
      <br>
      <div class="alert alert-info content ">
          <p class="response"></p>
      </div>
      <br>
      <form action="/admin/users/sendEmailToAll" method="POST" >
        <div class="justify">
          <button type="submit" class="btn btn-outline-danger">Wyslij teraz do wszystich</button>
        </div>
      </form>
    </div>
  </div>


<script src="/admin/socket.io/socket.io.js"></script>
{{!-- <script src="javascripts/mailNotification.js"></script> --}}

<script type="text/javascript">

$( document ).ready(function() {
  $('#errMsg').delay(5000).slideUp();

//mail sending progress visualization
  var msg = document.querySelector('.response');
  msg.innerHTML='Status wysyłki : brak maili do wysłania';
  var socket = io.connect();

  socket.on('msgSent', function(data) {
      msg.innerHTML='Status wysyłki : ' + data;
  });
  socket.on('msgErr', function(data) {
      msg.innerHTML='Błąd przy wysyłaniu maili: ' + data;
  });


});

</script>