body, html {
  /*padding-top: 50px; !* 50 *!*/
  height: 100%;
  margin: 0;
  font-family: 'Alegreya Sans', sans-serif;
}

a {
  color: #00B7FF;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: gray;
}

/* mouse over link */
a:hover {
    color: darkblue;
    text-decoration: none;
}

/* selected link */
a:active {
    color: blue;
}

.img-circle {
    border-radius: 50%;
    vertical-align: middle;
    margin: auto;
}

.justify {
	justify-content: center;
  display: flex;
}

.adminButton {
  width: 5rem;
}

.item {
  margin: 1px;

  border: 1px #ccc solid;	
  padding: 10px;
  border-radius: 15px;
  min-width: 15rem;  //20rem

}

.profile {
	padding: 5px;
	margin: auto;
  margin-top: 60px;
	border-radius: 15px;
}

.content {
  margin-top: 60px;
}

.flex-center-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plus-button h1 {
   color: green;
   background-color: white;
   font-size: 50px;
   margin-right: 1rem
}

.minus-button h1 {
   color: red;
   background-color: white;
   font-size: 50px;
}

.accept-button h1 {
   color: green;
   background-color: white;
   font-size: 50px;
}

.back-button {
  flex-direction: column;
  border-color: transparent;
}


.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}


.back-button {
    margin-right: 10px;
 }   
    .back-button:link {
        color: darkred;
    }

    /* visited link */
    .back-button:visited {
        color: grey;
    }

    /* mouse over link */
    .back-button:hover {
        color: grey;
    }

    /* selected link */
    .back-button:active {
        color: red;
    }


#errMsg {
  /*position: absolute;*/
  margin-top: 60px;
/*  z-index: 10;*/
}

.btn-group .active {
    background-color: orange;
 }